<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url(main.css);
    </style>
</head>
<body>
    
        <aside class="instagram-widget ">
            <figure class="instagram-widget">
                <img src="img/placeholder.svg" alt="">
            </figure>
            <figure class="instagram-widget">
                <img src="img/placeholder.svg" alt="">
            </figure>
            <figure class="instagram-widget">
                <img src="img/placeholder.svg" alt="">
            </figure>
            <figure class="instagram-widget">
                <img src="img/placeholder.svg" alt="">
            </figure>
            <figure class="instagram-widget">
                <img src="img/placeholder.svg" alt="">
            </figure>
            <figure class="instagram-widget">
                <img src="img/placeholder.svg" alt="">
            </figure>
            <figure class="instagram-widget">
                <img src="img/placeholder.svg" alt="">
            </figure>
            <figure class="instagram-widget">
                <img src="img/placeholder.svg" alt="">
            </figure>
            <figure class="instagram-widget">
                <img src="img/placeholder.svg" alt="">
            </figure>
        </aside>

</body>
</html>